<div>
<%= form_with model: @user do |form|%>

<p>
<%= form.label  :username %> <br>
<%= form.text_field :username, placeholder:"Enter your username"%>
<% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
<p>
<%= form.label  :email %> <br>
<%= form.email_field :email,  placeholder:"Enter your email", size: "50x10"%>
</p>
<% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>

<p>
<%= form.label  :password %> <br>
<%= form.password_field :password %> <br>
<% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>

<%= form.submit "Submit" %>


</p>
<%end%>
</div>